@CHARSET "UTF-8";

.open .dropdown-menu.dropdown-menu-group {
	display: block;
	list-style: none outside none;
	margin: 9px 0;
	box-shadow: 0 0 0;
	float: none;
	position: static;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	border-radius: 0;
}

.dropup .dropdown-menu.dropdown-menu-group,
.navbar-fixed-bottom .dropdown .dropdown-menu.dropdown-menu-group {
	bottom: auto;
}

.menuitem .shortcut {
    float: right;
    color: #e5e5e5;
}

.menuitem input.menu-toggle {
    width: 2-px;
	margin-top: 7px;
	margin-right: 7px;
    display: inline-block;
}

.dropdown-menu .menuitem input.menu-toggle {
	margin: 5px 4px 0 -16px;
}

div.calendar.calendar-default {
	width: 240px;
	text-transform: capitalize;
}

div.calendar.calendar-default > table.table > thead > th,
div.calendar.calendar-default > table.table > tbody > tr > td {
	text-align: center;
}

div.calendar.calendar-default > table.table > tbody > tr > td.cell.selected,
div.calendar.calendar-default > table.table > tbody > tr > td.cell.selected a,
div.calendar.calendar-default > table.table > tbody > tr > td.cell.selected:hover,
div.calendar.calendar-default > table.table > tbody > tr > td.cell.selected a:hover {
    background-color: #AE5317;
    color: #FFFFFF;
}

div.calendar.calendar-default > table.table > tbody > tr > td.cell:hover,
div.calendar.calendar-default > table.table > tbody > tr > td.cell:active {
    background-color: #E9D4C7;
}

div.calendar.calendar-default > table.table > tbody > tr > td.cell a,
div.calendar.calendar-default > table.table > tbody > tr > td.cell a:hover,
div.calendar.calendar-default > table.table > tbody > tr > td.cell a:active {
	color: #222222;
	text-decoration: none;
}

div.date_picker_calendar.calendar.calendar-default {
	background: #ffffff;
}

.radio_group .radio_group_wrapper {
    display: inline-block;
}

.radio_group .radio_group_wrapper label {
    margin-right: 1.3em;
}

.radio_group .radio_group_wrapper span {
    margin-left: .3em;
}

.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
	margin-top: 3px;
}

input.mobiscroll[readonly] {
	background-color: #fff !important;
    cursor: inherit !important;
}
