.menu {
  position:relative;
  max-height:150px;
  display:inline-block;
  line-height:20px;
  vertical-align:middle;
}

.menu ul {
  padding:5px;
}

.menu .menu_scroller {
  border:1px solid #666;
  background-color:#fff;
  -moz-box-shadow: 2px 2px 2px #666;
  -webkit-box-shadow: 2px 2px 2px #666;
  box-shadow: 2px 2px 2px #666;
}

.menu .menu_scroller .content {
  margin:0;
  max-height:150px;
}

.menu .menu_scroller.disabled .content {
  margin-right:0;
}

.menu li {
  font-size:14px;
  white-space:nowrap;
  margin:2px 0 0 0;
  list-style:none;
  vertical-align:bottom;
}

.menu li a {
  text-decoration:none;
  line-height:30px;
  color:#222;
  padding:2px 5px;
  display:block;
  background-color:#fff;
  height:28px;
}

.menu li a span {
  padding:0 2px;
}

.menu li a:hover span,
.menu li a:link span,
.menu li a:active span,
.menu li a:visited span{
  text-decoration:none;
  color:#222;
}

.menu li a:hover,
.menu li a.selected {
  background-color:#e9d4c7;
  text-decoration:none;
}

.menu select.mobile {
  opacity:0;
}
