/* form label */
.skin_perka .form_label {
  font-size:16px;
  font-family:freight-sans-pro,sans-serif;
  font-weight:400;
  color:#333;
  display:block;
  margin-bottom:10px;
}

.skin_perka .large .form_label {
  font-weight:600;
}

.skin_perka .inline .form_label {
  display:inline-block;
  margin:1px 10px 0 0;
  vertical-align:middle;
}

/* button - default */
.skin_perka .button {
  font-size:16px;
  font-family:freight-sans-pro,sans-serif;
  font-weight:600;
  color:#333;
  vertical-align:middle;
  background-color:#fff;
  border:1px solid #c1c1c1;
  line-height:20px;
  height:36px;
  padding:6px 12px 8px;
  border-radius:4px;
  margin:0;
  text-decoration:none;
  cursor:pointer;
  outline:0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-font-smoothing:antialiased;
  border-top-color:#ebebeb;
  border-bottom-color:#989898; 
}

.skin_perka .button.active,
.skin_perka .button:active,
.skin_perka .button:active:hover,
.skin_perka .button.active:hover,
.skin_perka .button:link,
.skin_perka .button:visited {
  background-color:#e0e0e0;
  border-bottom-color:#ebebeb;
}

/* button - sizes */
.skin_perka .button.large {
  font-size:19px;
  line-height:28px;
  height:44px;
  border-radius:5px;
}

.skin_perka .button.small {
  font-size:12px;
  line-height:20px;
  height:32px;
  text-transform:uppercase;
  border-radius:4px;
  padding:4px 10px 5px;
}

/* button - colors */
.skin_perka .button.orange {
  background-color:#cf5200;
  color:#fff;
  border-color:#945031;
  border-top-color:#cf5200;
  border-bottom-color:#712E07; 
}

.skin_perka .button.orange:hover {
  background-color:#d3672b;
}

.skin_perka .button.orange.active,
.skin_perka .button.orange:active,
.skin_perka .button.orange:active:hover,
.skin_perka .button.orange.active:hover {
  background-color:#b44814;
  border-bottom-color:#cf5200; 
} 

.skin_perka .button.blue {
  background-color:#369f9f;
  color:#fff;
  border-color:#3c8e8e;
  border-top-color:#369f9f;
  border-bottom-color:#007171; 
}

.skin_perka .button.blue:hover {
  background-color:#2baca7;
}

.skin_perka .button.blue.active,
.skin_perka .button.blue:active,
.skin_perka .button.blue:active:hover,
.skin_perka .button.blue.active:hover {
  background-color:#148d88;
  border-bottom-color:#369f9f; 
} 

.skin_perka .button.green {
  background-color:#9ac400;
  color:#fff;
  border-color:#96b247;
  border-top-color:#9ac400;
  border-bottom-color:#7f9e2a; 
}

.skin_perka .button.green:hover {
  background-color:#a7c934;
}

.skin_perka .button.green.active,
.skin_perka .button.green:active,
.skin_perka .button.green:active:hover,
.skin_perka .button.green.active:hover {
  background-color:#88aa20;
  border-bottom-color:#9ac400; 
} 

.skin_perka .button.light_blue {
  background-color:#d6f2f3;
  color:#033;
  border-color:#5ea1a1;
  border-top-color:#d6f2f3;
  border-bottom-color:#007171; 
}

.skin_perka .button.light_blue:hover {
  background-color:#dcf4f4;
}

.skin_perka .button.light_blue.active,
.skin_perka .button.light_blue:active,
.skin_perka .button.light_blue:active:hover,
.skin_perka .button.light_blue.active:hover {
  background-color:#bdd5d5;
  border-bottom-color:#d6f2f3; 
} 

.skin_perka .button.operation {
  background-color:#fff;
  background-image: -ms-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background-image: -moz-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background-image: -o-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #f0f0f0));
  background-image: -webkit-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background-image: linear-gradient(to bottom, #fff 0%, #f0f0f0 100%);
  border-color:#999;
}

.skin_perka .button.operation:hover {
  background-color:#fafafa;
  background-image: -ms-linear-gradient(top, #fafafa 0%, #e6e6e6 100%);
  background-image: -moz-linear-gradient(top, #fafafa 0%, #e6e6e6 100%);
  background-image: -o-linear-gradient(top, #fafafa 0%, #e6e6e6 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, #e6e6e6));
  background-image: -webkit-linear-gradient(top, #fafafa 0%, #e6e6e6 100%);
  background-image: linear-gradient(to bottom, #fafafa 0%, #e6e6e6 100%);
  border-color:#848484;
}

.skin_perka .button.operation.active,
.skin_perka .button.operation:active,
.skin_perka .button.operation:active:hover,
.skin_perka .button.operation.active:hover {
  background-color:#e0e0e0;
  background-image: -ms-linear-gradient(top, #e0e0e0 0%, #acacac 100%);
  background-image: -moz-linear-gradient(top, #e0e0e0 0%, #acacac 100%);
  background-image: -o-linear-gradient(top, #e0e0e0 0%, #acacac 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e0e0e0), color-stop(1, #acacac));
  background-image: -webkit-linear-gradient(top, #e0e0e0 0%, #acacac 100%);
  background-image: linear-gradient(to bottom, #e0e0e0 0%, #acacac 100%);
  border-color:#666;
}

.skin_perka .button.operation.disabled, 
.skin_perka .button.operation.disabled:hover {
  color:#aaa;
}

.skin_perka .button:hover,
.skin_perka .button.orage:hover,
.skin_perka .button.blue:hover,
.skin_perka .button.green:hover,
.skin_perka .button.light_blue:hover {
  border-bottom-color:#333;
}

.skin_perka .button.active,
.skin_perka .button:active,
.skin_perka .button.orage.active
.skin_perka .button.orage:active,
.skin_perka .button.blue.active
.skin_perka .button.blue:active,
.skin_perka .button.green.active,
.skin_perka .button.green:active,
.skin_perka .button.light_blue.active,
.skin_perka .button.light_blue:active {
  border-top-color:#333;
}

.skin_perka .button.disabled,
.skin_perka .button.disabled:hover {
  color:#fff;
  border-color:#cbcbcb;
  background-color:rgba(203,203,203,0.75);
  cursor: not-allowed;
  pointer-events: none;
}

/* button - secondary - default */
.skin_perka .button.secondary {
  color:#666;
  border:0;
  text-decoration:underline;
  background:none;
}

.skin_perka .button.secondary:hover,
.skin_perka .button.secondary:active {
  background:none;
  color:#333;
}

.skin_perka .button.secondary.orange {
  color:#cf5200;
}

.skin_perka .button.secondary.orange:hover,
.skin_perka .button.secondary.orange:active {
  background:none;
  color:#b44814;
}

.skin_perka .button.secondary.blue {
  color:#066;
}

.skin_perka .button.secondary.blue:hover,
.skin_perka .button.secondary.blue:active {
  background:none;
  color:#033;
}

.skin_perka .button.secondary.green {
  color:#4d6200;
}

.skin_perka .button.secondary.green:hover,
.skin_perka .button.secondary.green:active {
  background:none;
  color:#374401;
}

.skin_perka .button.secondary.light_blue {
  color:#066;
}

.skin_perka .button.secondary.light_blue:hover,
.skin_perka .button.secondary.light_blue:active {
  background:none;
  color:#033;
}

.skin_perka .button.secondary.disabled,
.skin_perka .button.secondary.disabled:hover,
.skin_perka .button.secondary.disabled:active {
  background:none;
  color:#cbcbcb;
  cursor: not-allowed;
  pointer-events: none;
}

/* text field and text area - defaults */
.skin_perka .text_field,
.skin_perka .text_area {
  font-family:freight-sans-pro,sans-serif;
  font-size:16px;
  font-weight:400;
  color:#333;
}

.skin_perka .text_field .text_wrapper,
.skin_perka .text_area .textarea_wrapper {
  border-radius:4px;
  border:1px solid #666;
  padding:3px 10px;
  height:36px;
}

.skin_perka .text_area .textarea_wrapper {
  padding:0;
  height:auto;
}

.skin_perka .text_field input,
.skin_perka .text_area textarea {
  font-family:freight-sans-pro,sans-serif;
  font-size:17px;
  line-height:20px;
  background:none;
  margin:0;
  padding:0;
  box-shadow:none;
  vertical-align:middle;
}

.skin_perka .text_area textarea
{
  margin: 5px 4px 4px 10px;
}

.skin_perka .text_field input::-webkit-input-placeholder,
.skin_perka .text_area textarea::-webkit-input-placeholder {
  position:relative;
  top:3px;
  font-family:freight-text-pro,serif;
  font-style:italic;
  color:#999;
  font-size:18px;
}

.skin_perka .text_field input:-moz-placeholder,
.skin_perka .text_area textarea:-moz-placeholder {
  position:relative;
  top:3px;
  font-family:freight-text-pro,serif;
  font-style:italic;
  color:#999;
  font-size:18px;
}

.skin_perka .text_area textarea:-moz-placeholder {
  font-size:15px;
}

.skin_perka .text_field input:-ms-input-placeholder,
.skin_perka .text_area textarea:-ms-input-placeholder {  
  position:relative;
  top:3px;
  font-family:freight-text-pro,serif;
  font-style:italic;
  color:#999;
  font-size:18px;
}

.skin_perka .text_area textarea:-ms-input-placeholder {  
  font-size:15px;
}

.skin_perka .text_field .text_wrapper.focused,
.skin_perka .text_area .textarea_wrapper.focused {
  outline:4px auto #bbb;
  outline-offset:-3px;
}

.skin_perka .text_field.disabled .text_wrapper,
.skin_perka .text_area.disabled .textarea_wrapper {
  border-color:#cbcbcb;
  cursor: not-allowed;
  pointer-events: none;
}

.skin_perka .text_field input:disabled,
.skin_perka .text_area textarea:disabled {
  color:#999;
}

/* input - sizes */
.skin_perka .large input {
  font-size:23px;
  line-height:28px;
}

.skin_perka .large .text_wrapper {
  height:44px;
  padding:5px 10px;
}

.skin_perka .large input::-webkit-input-placeholder {
  font-size:24px;
}

.skin_perka .large input:-moz-placeholder{
  font-size:24px;
}

.skin_perka .large input:-ms-input-placeholder {  
  font-size:24px;
}

.skin_perka .large .form_label {
  text-transform:uppercase;
  font-size:15px;
}

.skin_perka .small .text_wrapper {
  padding:1px 10px;
  height:32px;
}

.skin_perka .small input {
  font-size:17px;
}

.skin_perka .small input::-webkit-input-placeholder {
  font-size:17px;
}

.skin_perka .small input:-moz-placeholder{
  font-size:17px;
}

.skin_perka .small input:-ms-input-placeholder {  
  font-size:17px;
}

/* checkbox */
.skin_perka .checkbox {
  font-family:freight-sans-pro,sans-serif;
  font-size:16px;
  font-weight:400;
  color:#333;
}

.skin_perka .checkbox .checkbox_wrapper {
  position:relative;
}

.skin_perka .checkbox > label {
  display:inline-block;
  position:relative;
  cursor:pointer;
}

/* checkbox - restyling */
.skin_perka .checkbox input {
  display:inline-block;
  position: absolute;
  left:-10px;
  top:8px;
  width:auto;
  cursor:pointer;
  opacity: 0;
}

/* failover used to display native checkbox in ie */
.skin_perka #checked-failover:checked + div:before,
.skin_perka .checkbox input + div:before {
  content:"";
  display:inline-block;
  position:relative;
  vertical-align:middle;
  height:24px;
  width:24px;
  border:1px solid #999;
  border-radius:4px;
  background-color: #fff; /* fallback color if gradients are not supported */
  background-image: -webkit-linear-gradient(top, #fff, #f0f0f0); /* For Chrome and Safari */
  background-image:    -moz-linear-gradient(top, #fff, #f0f0f0); /* For old Fx (3.6 to 15) */
  background-image:     -ms-linear-gradient(top, #fff, #f0f0f0); /* For pre-releases of IE 10*/
  background-image:      -o-linear-gradient(top, #fff, #f0f0f0); /* For old Opera (11.1 to 12.0) */ 
  background-image:         linear-gradient(to bottom, #fff, #f0f0f0); /* Standard syntax; must be last */
}

.skin_perka #checked-failover:checked + div:before,
.skin_perka .checkbox label:hover input + div:before {
  border-color:#848484;
  background-color: #fafafa; /* fallback color if gradients are not supported */
  background-image: -webkit-linear-gradient(top, #fafafa, #e6e6e6); /* For Chrome and Safari */
  background-image:    -moz-linear-gradient(top, #fafafa, #e6e6e6); /* For old Fx (3.6 to 15) */
  background-image:     -ms-linear-gradient(top, #fafafa, #e6e6e6); /* For pre-releases of IE 10*/
  background-image:      -o-linear-gradient(top, #fafafa, #e6e6e6); /* For old Opera (11.1 to 12.0) */ 
  background-image:         linear-gradient(to bottom, #fafafa, #e6e6e6); /* Standard syntax; must be last */
}

.skin_perka #checked-failover:checked + div:before,
.skin_perka .checkbox label:active input + div:before,
.skin_perka .checkbox label.active input + div:before {
  border-color:#666;
  background-color: #e0e0e0; /* fallback color if gradients are not supported */
  background-image: -webkit-linear-gradient(top, #e0e0e0, #acacac); /* For Chrome and Safari */
  background-image:    -moz-linear-gradient(top, #e0e0e0, #acacac); /* For old Fx (3.6 to 15) */
  background-image:     -ms-linear-gradient(top, #e0e0e0, #acacac); /* For pre-releases of IE 10*/
  background-image:      -o-linear-gradient(top, #e0e0e0, #acacac); /* For old Opera (11.1 to 12.0) */ 
  background-image:         linear-gradient(to bottom, #e0e0e0, #acacac); /* Standard syntax; must be last */
}

.skin_perka #checked-failover:checked + div:after,
.skin_perka .checkbox input:checked + div:after {
  content: "\2713";
  color:#333;
  position: absolute;
  top:0;
  left:0;
  width:26px;
  height:26px;
  line-height:26px;
  text-align:center;
  font-size:22px;
}

.skin_perka .checkbox .checkbox_wrapper > span {
  vertical-align:middle;
  margin-left:10px;
}

.skin_perka #checked-failover:checked + div:before,
.skin_perka .checkbox.disabled label input + div:before,
.skin_perka .checkbox.disabled label:hover input + div:before  {
  opacity:.5;
}

.skin_perka #checked-failover:checked + div:after,
.skin_perka .checkbox.disabled input:checked + div:after {
  opacity:.5;
}

.skin_perka .checkbox.disabled label {
  color:#cbcbcb;
  cursor: not-allowed;
  pointer-events: none;
}

/* radio group */
.skin_perka .radio_group {
  font-family:freight-sans-pro,sans-serif;
  font-size:16px;
  font-weight:400;
  color:#333;
}

.skin_perka .radio_group .radio_group_wrapper {
  position:relative;
}

.skin_perka .radio_group .radio_group_wrapper > label {
  margin-right:10px;
  position:relative;
  cursor:pointer;
}

.skin_perka .radio_group.block .radio_group_wrapper > label {
  display:block;
  margin-right:0;
  margin-bottom:10px;
}

/* radio group - restyling */
.skin_perka .radio_group input {
  display:inline-block;
  position: absolute;
  left:-10px;
  top:8px;
  width:auto;
  cursor:pointer;
  opacity: 0;
}

.skin_perka #checked-failover:checked + div:before,
.skin_perka .radio_group input + div:before {
  content:"";
  display:inline-block;
  position:relative;
  vertical-align:middle;
  height:24px;
  width:24px;
  border:1px solid #999;
  border-radius:50%;
  background-color: #fff; /* fallback color if gradients are not supported */
  background-image: -webkit-linear-gradient(top, #fff, #f0f0f0); /* For Chrome and Safari */
  background-image:    -moz-linear-gradient(top, #fff, #f0f0f0); /* For old Fx (3.6 to 15) */
  background-image:     -ms-linear-gradient(top, #fff, #f0f0f0); /* For pre-releases of IE 10*/
  background-image:      -o-linear-gradient(top, #fff, #f0f0f0); /* For old Opera (11.1 to 12.0) */ 
  background-image:         linear-gradient(to bottom, #fff, #f0f0f0); /* Standard syntax; must be last */
}

.skin_perka #checked-failover:checked + div:before,
.skin_perka .radio_group .radio_group_wrapper label:hover input + div:before {
  border-color:#848484;
  background-color: #fafafa; /* fallback color if gradients are not supported */
  background-image: -webkit-linear-gradient(top, #fafafa, #e6e6e6); /* For Chrome and Safari */
  background-image:    -moz-linear-gradient(top, #fafafa, #e6e6e6); /* For old Fx (3.6 to 15) */
  background-image:     -ms-linear-gradient(top, #fafafa, #e6e6e6); /* For pre-releases of IE 10*/
  background-image:      -o-linear-gradient(top, #fafafa, #e6e6e6); /* For old Opera (11.1 to 12.0) */ 
  background-image:         linear-gradient(to bottom, #fafafa, #e6e6e6); /* Standard syntax; must be last */
}

.skin_perka #checked-failover:checked + div:before,
.skin_perka .radio_group .radio_group_wrapper label:active input + div:before,
.skin_perka .radio_group .radio_group_wrapper label.active input + div:before  {
  border-color:#666;
  background-color: #e0e0e0; /* fallback color if gradients are not supported */
  background-image: -webkit-linear-gradient(top, #e0e0e0, #acacac); /* For Chrome and Safari */
  background-image:    -moz-linear-gradient(top, #e0e0e0, #acacac); /* For old Fx (3.6 to 15) */
  background-image:     -ms-linear-gradient(top, #e0e0e0, #acacac); /* For pre-releases of IE 10*/
  background-image:      -o-linear-gradient(top, #e0e0e0, #acacac); /* For old Opera (11.1 to 12.0) */ 
  background-image:         linear-gradient(to bottom, #e0e0e0, #acacac); /* Standard syntax; must be last */
}

.skin_perka #checked-failover:checked + div:after,
.skin_perka .radio_group input:checked + div:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #333;
}

.skin_perka .radio_group .radio_group_wrapper span {
  vertical-align:middle;
  margin-left:10px;
}

.skin_perka #checked-failover:checked + div:before,
.skin_perka .radio_group.disabled .radio_group_wrapper input + div:before {
  opacity:.5;
}

.skin_perka #checked-failover:checked + div:after,
.skin_perka .radio_group.disabled .radio_group_wrapper input:checked + div:after {
  opacity:.5;
}

.skin_perka .radio_group.disabled .radio_group_wrapper label {
  cursor: not-allowed;
  pointer-events: none;
  color:#cbcbcb;
}

/* pulldown */
.skin_perka .pulldown > label {
  position:relative;
}

.skin_perka .pulldown > label > span {
  display:block;
}

.skin_perka .pulldown .menu:after {
  content:"";
  position:absolute;
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #333;
  top:15px;
  right:10px;
}

.skin_perka .pulldown .menu label {
  height: 34px;
  display:inline-block;
  overflow: hidden;
  background-color:#fff;
  background-image: -ms-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background-image: -moz-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background-image: -o-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #f0f0f0));
  background-image: -webkit-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background-image: linear-gradient(to bottom, #fff 0%, #f0f0f0 100%);
  border:1px solid #999;
  border-radius:4px;
  position:relative;
}

.skin_perka .pulldown .menu label:hover {
  background-color:#fafafa;
  background-image: -ms-linear-gradient(top, #fafafa 0%, #e6e6e6 100%);
  background-image: -moz-linear-gradient(top, #fafafa 0%, #e6e6e6 100%);
  background-image: -o-linear-gradient(top, #fafafa 0%, #e6e6e6 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, #e6e6e6));
  background-image: -webkit-linear-gradient(top, #fafafa 0%, #e6e6e6 100%);
  background-image: linear-gradient(to bottom, #fafafa 0%, #e6e6e6 100%);
  border-color:#848484;
}

.skin_perka .pulldown .menu label.active,
.skin_perka .pulldown .menu label:active,
.skin_perka .pulldown .menu label:active:hover,
.skin_perka .pulldown .menu label.active:hover {
  background-color:#e0e0e0;
  background-image: -ms-linear-gradient(top, #e0e0e0 0%, #acacac 100%);
  background-image: -moz-linear-gradient(top, #e0e0e0 0%, #acacac 100%);
  background-image: -o-linear-gradient(top, #e0e0e0 0%, #acacac 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e0e0e0), color-stop(1, #acacac));
  background-image: -webkit-linear-gradient(top, #e0e0e0 0%, #acacac 100%);
  background-image: linear-gradient(to bottom, #e0e0e0 0%, #acacac 100%);
  border-color:#666;
}

.skin_perka .pulldown select:hover {
  cursor:pointer;
}

.skin_perka .pulldown select {
  font-family:freight-sans-pro,sans-serif;
  display:inline-block;
  background: transparent;
  padding:6px 30px 6px 6px;
  border: 0;
  border-radius: 0;
  font-size: 16px;
  font-weight:600;
  line-height:20px;
  height: 34px;
  margin:0;
  outline:0;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  -webkit-font-smoothing:antialiased;
  text-indent: 0.01px;
  text-overflow:'';
  z-index:1;
  position:relative;
  /*ie8-9 hide arrow */
  padding-right:9px\9;
}

/* hide outline in firefox around select */
.skin_perka .pulldown select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.skin_perka .pulldown select > option {
  font-family:freight-sans-pro,sans-serif;
}

.skin_perka .pulldown select::-ms-expand {
  display: none;
}

.skin_perka .pulldown .menu.disabled,
.skin_perka .pulldwon .menu.disabled:hover,
.skin_perka .pulldown .menu.disabled label, 
.skin_perka .pulldown .menu.disabled select {
  color:#aaa;
  border-color:#cbcbcb;
  cursor: not-allowed;
  pointer-events: none;
}

.skin_perka .pulldown .menu.disabled label:after {
  border-top-color:#aaa;
}

/* link */
.skin_perka .link {
  font-family:freight-sans-pro,sans-serif;
  line-height:30px;
  color:#333;
}

/* glyph */
.skin_perka .glyph {
  width:20px;
  height:20px;
  font-size:20px;
  margin-top:-2px;
}

.skin_perka .large .glyph {
  width:28px;
  height:28px;
  font-size:28px;
  margin-top:-4px;
}

.skin_perka .glyph.left {
  margin-left:-2px;
  margin-right:8px;
}

.skin_perka .glyph.right {
  margin-right:-2px;
  margin-left:8px;
}

.skin_perka .small .glyph.left {
  margin-left:-4px;
}

.skin_perka .small .glyph.right {
  margin-right:-4px;
}

.skin_perka .text_field .glyph {
  margin-top:3px;
}

.skin_perka .text_field.large .glyph {
  margin-top:2px;
}

.skin_perka .disabled .glyph {
  opacity:.65;
}

/* error */
.skin_perka .error_message {
  font-family:freight-text-pro,serif;
  font-style:italic;
  font-weight:400;
  color:#da4125;
}

/* error - text field,text area,date picker, time picker,pulldown */
.skin_perka .text_field.error .text_wrapper,
.skin_perka .text_field.error .text_wrapper.focused,
.skin_perka .text_area.error .textarea_wrapper,
.skin_perka .text_area.error .textarea_wrapper.focused,
.skin_perka .date_picker.error .text_wrapper,
.skin_perka .date_picker.error .text_wrapper.focused,
.skin_perka .time_picker.error .text_wrapper,
.skin_perka .time_picker.error .text_wrapper.focused,
.skin_perka .pulldown.error .menu label,
.skin_perka .menu.error select {
  outline:4px auto #fd7356;
  outline-offset:-3px;
  border-color:#fd7356;
}

/* error - form label */
.skin_perka .error .form_label {
  font-weight:600;
  font-style:normal;
  color:#da4125;
}

/* error - radio group and checkbox */
.skin_perka #checked-failover:checked + div:before,
.skin_perka .checkbox.error input + div:before, 
.skin_perka .checkbox.error label:hover input + div:before,
.skin_perka #checked-failover:checked + div:before,
.skin_perka .radio_group.error input + div:before,
.skin_perka .radio_group.error .radio_group_wrapper label:hover input + div:before {
  box-shadow: 0 0 2px 1px #fd7356;
  border-color: #fd7356;
  background:#fff;
}
