.skin_perka a.button.has_border {
  text-shadow: 0 1px 0 white, 0 -0.5px 0 black;
  background:url(/common/images/ui/bg_button.png) 0 0 repeat-x;
  border-color:#757575;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.skin_perka a.link {
  color:#222;
}

.skin_perka a.button:hover {
  background-position:0 -50px;
}

.skin_perka a.button:active {
  background-position:0 -100px;
}

.skin_perka a.checkbox {
  background:url(/common/images/ui/checkbox.png) transparent 0 2px no-repeat;
  border:none;
  height:28px;
}

.skin_perka a.checkbox .checkmark,
.skin_perka a.checkbox:hover .checkmark {
  border:none;
  background-color:transparent;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.skin_perka a.checkbox .checkmark_fill {
  background:url(/common/images/ui/checkbox.png) transparent 0 -112px no-repeat;
  top:-3px;
  left:0;
  width:28px;
  height:28px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.skin_perka a.checkbox .label {
  line-height:32px;
  padding-left:20px;
}

.skin_perka a.checkbox:hover {
  background-position:0 -26px;
}

.skin_perka a.checkbox:active {
  background-position:0 -54px;
}

.skin_perka .radio_group .choice {
  background:url(/common/images/ui/radio.png) transparent 0 2px no-repeat;
  height:28px;
}

.skin_perka .radio_group .choice.selected {
  background-position:0 -82px;
}

.skin_perka .radio_group .choice:hover {
  background-position:0 -26px;
}

.skin_perka .radio_group .choice.selected:hover {
  background-position:0 -82px;
}

.skin_perka .radio_group .choice:active {
  background-position:0 -54px;
}

.skin_perka .radio_group .mark {
  background-color:transparent;
  border:none;
  visibility:hidden;
}

.skin_perka .radio_group .label {
  margin-left:10px;
  line-height:34px;
}

.skin_perka .pulldown .label {
  background:url(/common/images/ui/pulldown_arrow.png) transparent top right no-repeat;
  position:absolute;
  left:0;
  right:0;
  padding-right:30px;
}

.skin_perka ::-webkit-input-placeholder {
  font-style:italic;
}

.skin_perka :-moz-placeholder {
  font-style:italic;
}

.skin_perka .calendar {
  -moz-box-shadow: 0 0 6px 0 #444;
  -webkit-box-shadow: 0 0 6px 0 #444;
  box-shadow: 0 0 6px 0 #444;
}

.skin_perka .text_field,
.skin_perka .text_area,
.menu .menu_scroller,
.menu li a {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.skin_perka .scroller .tray {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}

.skin_perka .scroller .knob_top {
  border-top-left-radius: 8px;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  border-top-right-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topright: 8px;
}

.skin_perka .knob_bottom {
  border-bottom-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
}

.skin_perka .tab_set .tab {
  border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.skin_perka .tab_set .content_container {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
